[submodule "api-enumerations"]
	path = api-enumerations
	url = git@github.com:companieshouse/api-enumerations.git
[submodule "document-generator-api/api-enumerations"]
	path = document-generator-api/api-enumerations
	url = git@github.com:companieshouse/api-enumerations.git
